<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>Error 404 - Not Found</title>

		<link rel="stylesheet" type="text/css" href="css/index.css">
	</head>
	
	<body>
		<nav>
			<div class="nav-brand">TS3 Proxy</div>
		</nav>

		<section id="generator">
			<h1>Not Found</h1>
			<hr>
			<p>The requested file was not found on this server.</p>
			<hr>
			<p>TS3Proxy by UnlimitedBytes</p>
		</section>

		<footer>
			<!-- Please give the credits. -->
			<p>Copyright {{ "now"|date("Y") }} &copy; TS3Proxy | Created by <a target="_blank" href="https://unlimitedbytes.ovh">UnlimitedBytes</a>.</p>
		</footer>
	</body>
</html>