<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<title>Error 500 - Internal Server Error</title>

		<link rel="stylesheet" type="text/css" href="css/index.css">
	</head>
	
	<body>
		<nav>
			<div class="nav-brand">TS3 Proxy</div>
		</nav>

		<section id="generator">
			<h1>Internal Server Error</h1>
			<hr>
			<p>
				The server encountered an internal error or missconfiguration and was unable to complete your request.<br />
				Please contact the server administrator, and inform them of the time the error occured, and anything you might have done that may have caused the error.<br />
				More information about this error may be available in the server error log.<br />
				Additionally, a 500 Internal Server Error error was encountered while try to use an ErrorDocument to handle the request.
			</p>
			<hr>
			<p>TS3Proxy by UnlimitedBytes</p>
		</section>

		<footer>
			<!-- Please give the credits. -->
			<p>Copyright {{ "now"|date("Y") }} &copy; TS3Proxy | Created by <a target="_blank" href="https://unlimitedbytes.ovh">UnlimitedBytes</a>.</p>
		</footer>
	</body>
</html>